.homePage {
  background-image: url(../../assets/city.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.input {
  border: 3px solid #febb02;
  border-radius: 5px;
  height: 40px;
}

.searchText {
  color: lightgray;
  cursor: pointer;
}

.searchBtn {
  background-color: #febb02;
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.icon {
  color: rgb(68, 67, 58);
  font-size: 30px;
  margin: 5px;
  padding-top: 10px;
}
/* ----> HEADER TEXT  <-------*/
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* ----> EARTH ANIMATION <-------*/
.earth {
  background: url(https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/earth-2.jpg);
  background-size: cover;
  border: 2px solid #000;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: movimiento 8s linear 0s infinite;
  box-shadow: 0 0 25px RGBA(255, 255, 255, 0.1), -8px -8px 15px #000 inset,
    2px 2px 25px #000 inset, -45px -45px 25px RGBA(0, 0, 0, 0.5) inset,
    25px 25px 45px RGBA(0, 0, 0, 0.45) inset;
  margin: 4em auto;
  transform: rotateX(5deg) rotateY(5deg) rotateZ(5deg);
}

@keyframes movimiento {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 355px 0;
  }
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

/* 





.searchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}



.searchText {
  color: lightgray;
  cursor: pointer;
} */
/* 
.date {
  position: absolute;
  top: 50px;
  z-index: 2;
} */
/* 
.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
} */

/* .optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
} */
