.sidebar {
  position: fixed;
  top: 0;
  left: 1;
  height: 100%;
  width: 0;
  z-index: 1;
  overflow-x: hidden;
  /* transition: 0.6s; */
  padding-top: 30px;
}

.sidebar.open {
  width: 200px;
  position: sticky;
}

.sideBtn {
  background-color: goldenrod;
}
.sideBtn hover {
  background-color: goldenrod;
}
